# Rust
/target
**/*.rs.bk
Cargo.lock.bak

# Node / frontend
node_modules/
/dist
*.local

# Tauri
src-tauri/gen/

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Logs
*.log
